[Unit]
Description=iptv-playlist-proxy coreelec startup service
After=network.target
Before=kodi.service

[Service]
Type=simple
User=root
Environment="PATH=/opt/bin:/opt/sbin:/usr/bin:/usr/sbin"
Environment="PORT=8000"
WorkingDirectory=/storage/iptv-playlist-proxy/
ExecStart=/opt/bin/node dist/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
